**/*.mol2
**/*.xyz
**/*.html
**/*.zip
.vscode/
molli.egg-info/
**/__pycache__
**/*.pyc

# Below is the list of modules in development that should not be uploaded until they become final
**/dev_*.py
# **/old_*.py
